<div class="nav-wrapper blue z-depth-3">
  <a href="#" class="brand-logo center large">E-commerce API</a>
  <ul id="nav-mobile" class="right">
    <li>
      <a
        href="#login"
        data-target="accNo"
        class="z-depth-5 light-blue btn btn-large waves-effect waves-light modal-trigger tooltipped"
        data-tooltip="Card"
        data-position="bottom"
        >$$$</a
      >
    </li>
  </ul> 
</div>
