<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
      body {
        background-color: rgb(82, 164, 231);
      }
      .container {
        width: inherit;
      }
      .price-tag {
        color: royalblue;
      }
      img {
        display: block;
        width: 256px;
        height: 256px;
      }
    </style>
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue z-depth-3">
        <a href="#" class="brand-logo center large">Vehicle Showroom</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a
              href="/"
              data-target="accNo"
              class="z-depth-5 light-blue btn btn-large waves-effect waves-light modal-trigger tooltipped"
              data-tooltip="Card"
              data-position="bottom"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      
      <div class="row center ">
        <div class="col s3"></div>
        
        <form class="col s6 white" action="/register" method="POST">
          <div class="row">
              <div class="col s12 center">
                  <h3 style="color:blue">Register</h1>
              </div>

              <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Name" id="name" type="text"  name="name" />
                  </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Email" id="email" type="email" class="validate" name="email" />
                  </div>
              </div>

              <div class="row">
                <div class="input-field col s12">   
                  <input
                    id="password"
                    type="password"
                    class="validate"
                    name="password"
                    placeholder="Password"
                  />
                </div>
              </div>
          </div>
          
          <div class="row right-align">
            <div class="input-field col s6">
              <button class="blue btn waves-effect waves-light" type="submit">
                Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
        <div class="col s3"></div>
      </div>
      
    </div>

    
  </body>
</html>
